& {
  width: 30%;
  padding: 20px;
  background: rgba(240, 240, 240, .25);

  nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    &::after {
      display: block;
      width: 100%;
      margin-top: 10px;
      content: '';
      border-bottom: 2px solid rgba(0, 0, 0, .1);
    }
  }
  >section {
    overflow-y: auto;
    
    >span {
      >div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 5px 0 0;
        padding: 5px 0;
        border-bottom: 1px solid rgba(0, 0, 0, .1);
        cursor: pointer;

        &:hover {
          background: rgba(220, 220, 220, .25);
        }

        input {
          margin: 0 5px;
        }

        button {
          border: 0;
          outline: 0;
          background: rgba(0, 0, 0, 0);
          transform: scale(.65);
          cursor: pointer;
        }

        span {
          font-size: 12px;
        }
      }
      
      .complete {
        span {
          text-decoration: line-through;
        }
      }

      .active {
        background: rgba(220, 220, 220, .25);
      }
    }
  }
}
